<%=render partial: "shared/error_messages", locals: {new_object: @comment}%>

<%= bootstrap_form_for(@comment, layout: :inline) do |f| %>
    <%= f.text_area :comment, hide_label: true  %>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :task_id, value: @task.id %>
    <br></br>
    <p><%= f.submit "Post", class: "btn btn-primary"  %> </p>

<% end %>



