<%=render partial: "shared/error_messages", locals: {new_object: @task}%>

<br>

<%= bootstrap_form_for(@task,:class => "form-inline", label_errors: true) do |f| %>
        
        <%= f.text_field :description, placeholder: "Description" %>

        <%= f.date_field :due_date %>

        <%= f.collection_select(:project_id, Project.all, :id, :name) %>

        
        <%= f.collection_select(:assignee_id, User.all, :id, :name) %>

        
        <%= f.select :priority, options_for_select([ "LOW", "MEDIUM", "HIGH"]) %>

        
        <%= f.select :status, options_for_select(["Planned", "In Progress", "Complete"]) %>


        <p><%= f.submit "Submit", class: "btn btn-primary" %> </p>
        


<% end %>

