  
 
<div class="container">
  <div class="row justify-content-start">
    
    <div class="text-center">
    <div class="col-md-4">
    <div class="text-right">
    
        <h1>Tasks</h1>
    </div>
    
<div class="jumbotron">
    <h4>Create A New Task</h4>
    <%=render "task_form"%>
    </div>
</div>
</div>

<div class="col-md-8">
<%if @ordered_tasks == []%>
   <div> <%= current_user.name%> does not have any tasks at this time. </div>
<%else%>
<br>
<table class="table table-hover">
    
    <thead>
        <tr>
        
            <th>Project Name</th>
            <th>Task Description</th>
            <th>Task Due Date</th>
            <th>Task Status</th>
            <th>Mark As Complete</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    
    
    <tbody>
        <%@ordered_tasks.each do |task|%>
        <tr>
            <%if task.completed?%>
                <td><%=link_to task.project.name, project_path(task.project)%></td>
                <td><s><%=link_to task.description, task_path(task)%></s></td>
                <td><%=task.due_date%></td>
                <td><%=task.status%></td>
                <td> <%=fa_icon("check")%></td>
                <td><%=link_to edit_task_path(task) do %>
                        <%= fa_icon("edit") %>
                        <%end%></td>
                <td><%=link_to task_path(task), method: :delete, data: {confirm: "Are you sure?"} do %>
                        <%= fa_icon("trash-alt") %>
                        <%end%></td>
            <%else%>
                <td><%=link_to task.project.name, project_path(task.project)%></td>
                <td><%=link_to task.description, task_path(task)%></td>
                <td><%=task.due_date%></td>
                <td><%=task.status%></td>
                <td><%=link_to completed_task_path(task), method: :patch do %>
                        <%= fa_icon("square", type: :regular) %>
                        <%end%></td>
                <td><%=link_to edit_task_path(task) do %>
                        <%= fa_icon("edit") %>
                        <%end%></td>
                <td><%=link_to task_path(task), method: :delete, data: {confirm: "Are you sure?"} do %>
                        <%= fa_icon("trash-alt") %>
                        <%end%></td>
                    
            <%end%>
        </tr>
        <%end%>
    </tbody>
</table>

<%end%>
</div>

 

</div>

</div>