<div class="row">
<div class="col-md-1"></div>
<div class="col-md-2">
    <h1>Task</h1>
    <p class="lead">Have you finished this task? </p>

    <p><%= link_to "Mark Complete", completed_task_path, :method => :patch, class: "btn btn-primary" %> </p>



</div>
<div class="col-md-4">


    <h2><%= @task.description %></h2>
    <br>
    <div><%= link_to "Edit", edit_task_path(@task) %> | <%= link_to 'Delete', @task, method: :delete, data: { confirm: 'Are you sure?' } %>  <%if !@task.project.nil?%>| <%= link_to "Return to Project", project_path(@task.project.id) %><%end%></div>
    </br>

    <table class="table">
        <tr>
            <td>Assigned to:</td>
            <td> <%= link_to @task.assignee.name, user_path(@task.assignee.id) %></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><%= @task.status %></td>
        </tr>
        <tr>
            <td>Priority:</td>
            <td><%= @task.priority %></td>
        </tr>
        <tr>
            <td>Due:</td>
            <td><%= @task.due_date %></td>
        </tr>
        <tr>
        <td>Completed:</td>
        <td><%= @task.date %></td>
    </tr>
        <tr>
            <td>Project: </td>
            <td><%if !@task.project.nil?%><%= link_to @task.project.name, project_path(@task.project.id) %><%end%></td>
        </tr>
        <tr>
            <td>Created by:</td>
            <td><%= link_to @task.creator.name, user_path(@task.creator.id) %></td>
        </tr>


    </table>



</div>


<div class="col-md-3">
    <h3>COMMENT</h3>
    <p class="lead">Any updates on this task? </p>

    <%=render "comment_form"%>
    </br>
    <h3>ACTIVITY</h3>

        <% if @task_comments == [] %> 
        <p class="lead">There are no comments on this task. Write one above!</p>

        <% else %>
            <div>
                <% @task_comments.each do |c| %>
                    <div>____________________________________</div>
                    <div><b><%= link_to "@" + c.user.name, user_path(c.user.id) %></b> | <%= distance_of_time_in_words(c.created_at, Time.now, include_seconds: false) %> ago </div> 
                    </br>
                    <div> <%= c.comment %> </div>

                <% end %> 
            </div>
        <% end %>

    </br>



</div>

<div class="col-md-2"></div>
</div>