<h1><%=@user.name%></h1>
<div>Age: <%=@user.age%></div>
<div>Bio:</div>
<div><%=@user.bio%></div>


<%if @user.team != nil%>%
<br><h4>Team: <%=@user.team.name%></h4>
<%end%>

<h4>Tasks:</h4>

<ul>
<%@user.assigned_tasks.each do |task|%>
    <li><%=link_to task.project.name, project_path(task.project)%> - <%=link_to task.description, task_path(task)%> - <%=task.status%></li>
<%end%>
</ul>
<br>

<%=link_to "Create A New Task", new_task_path%><br>
<%=link_to "Edit User", edit_user_path(@user)%>
<%=link_to "Delete User", user_path(@user), :method => :delete%>






