<h1><%=@user.name%></h1>
<div>Age: <%=@user.age%></div>
<div>Bio:</div>
<div><%=@user.bio%></div>


<%if @user.team != nil%>
<br><h4>Team: <%=link_to @user.team.name, team_path(@user.team)%></h4>
<%end%>


<table>
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Task Description</th>
            <th>Task Due Date</th>
            <th>Task Status</th>
            <th>Mark As Complete<th>
        </tr>
    </thead>
    
    <tbody>
        <%@ordered_tasks.each do |task|%>
        <tr>
            <%if task.completed?%>
                <td><%=link_to task.project.name, project_path(task.project)%></td>
                <td><strike><%=link_to task.description, task_path(task)%><strike></td>
                <td><%=task.due_date%></td>
                <td><%=task.status%></td>
                <td>✔️</td>
                <td><%=link_to "Edit Task", edit_task_path(task)%></td>
                <td><%=link_to "Delete Task", task_path(task), method: :delete, data: {confirm: "Are you sure?"}%></td>
            <%else%>
                <td><%=link_to task.project.name, project_path(task.project)%></td>
                <td><%=link_to task.description, task_path(task)%></td>
                <td><%=task.due_date%></td>
                <td><%=task.status%></td>
                <td><%=link_to "Complete", completed_task_path(task), method: :patch%></td>
                <td><%=link_to "Edit Task", edit_task_path(task)%></td>
                <td><%=link_to "Delete Task", task_path(task), method: :delete, data: {confirm: "Are you sure?"}%></td>
            <%end%>
        </tr>
        <%end%>
    </tbody>
</table>

<%if current_user == @user%>
<br>

<h4>Create A New Task</h4>
<%= form_for @task do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :due_date %>
    <%= f.date_field :due_date %>

    <%= f.label :project %>
    <%= f.collection_select(:project_id, Project.all, :id, :name, { include_blank: true}) %>

    <%= f.label :assigned_to, "Assign to" %>
    <%= f.collection_select(:assignee_id, User.all, :id, :name) %>

    <%= f.label :priority %>
    <%= f.select :priority, options_for_select([ "LOW", "MEDIUM", "HIGH"]) %>

    <%= f.label :status %>
    <%= f.select :status, options_for_select(["Planned", "In Progress", "Complete"]) %>

    <%= f.hidden_field :created_location, value: "user" %>

    <p><%= f.submit %> </p>

<% end %>


<br>


<%=link_to "Edit User", edit_user_path(@user)%>
<%=link_to "Delete User", user_path(@user), :method => :delete, data: {confirm: "Are you sure you want to delete your profile? We'd hate to see you go!"}%>
<%end%>