<h1>Project: <%= @project.name %></h1>
<div>State Date: <%= @project.start_date %> </div>
<div>End Date: <%= @project.end_date %> </div>
<div>Description: <%= @project.description %> </div>
<div>Status: <%= @project.status %> </div>

<div>Team: <%= link_to @project.team.name, team_path(@project.team.id) %> </div>
<p>Here is a list of Tasks: </p>
<div>

<ul>
<% @project.tasks.each do |t| %> 
       <li> <%= t.description %> --- <%= link_to t.assignee.name, user_path(t.assignee.id) %> --- <%= t.due_date%> </li>
    <% end %> 
</ul>

</div>



