<h1>Project: <%= @project.name %></h1>
<div>State Date: <%= @project.start_date %> </div>
<div>End Date: <%= @project.end_date %> </div>
<div>Description: <%= @project.description %> </div>
<div>Status: <%= @project.status %> </div>

<div>Team: <%= link_to @project.team.name, team_path(@project.team.id) %> </div>
<p>Here is a list of Tasks to be completed: </p>
<div>

<ul>
<% @incomplete_tasks.each do |t| %> 
       <li> <%= link_to t.description, task_path(t.id) %> --- <%= link_to t.assignee.name, user_path(t.assignee.id) %> --- <%= t.due_date%> </li>
    <% end %> 
</ul>

</div>

<div>Completed Tasks</div>

<ul>
<% @completed_tasks.each do |t| %> 
       <li> <%= link_to t.description, task_path(t.id) %> --- <%= link_to t.assignee.name, user_path(t.assignee.id) %> --- <%= t.due_date%> </li>
    <% end %> 
</ul>

</div>

<p>MENU</p>
<%= link_to "Edit this Project", edit_project_path(@project.id) %>