<h1>Project: <%= @project.name %></h1>
<div>State Date: <%= @project.start_date %> </div>
<div>End Date: <%= @project.end_date %> </div>
<div>Description: <%= @project.description %> </div>
<div>Status: <%= @project.status %> </div>

<div>Team: <%= @project.team.name %> </div>
<p>Here is a list of Tasks: </p>
<div>

<ul>
<% @project.tasks.each do |t|
       <li> <%= t.description %> </li>
    <% end %> 
</ul>

</div>



