<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id].nil? %>
      <div><%=link_to "Please Login", login_path%></div>
    <%else%>
      <div>Welcome back, <%=current_user.name%> !</div>
      <div><%=link_to "Logout", logout_path%></div>
    <%end%>

    <%= yield %>
  </body>
</html>
