<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <% if session[:user_id].nil? %>
      <%=link_to "Please Login", login_path%>
      <%=link_to "Sign Up", new_user_path%>
    <%else%>
      Welcome back, <%=current_user.name%> !
      <%=link_to "Logout", logout_path%>
    <%end%>
      </div>
    <br>
    <%if !current_user.nil?%>
      <div class="topnav">
        <%=link_to "User", user_path(current_user)%>
        <%=link_to "Team", team_path(current_user.team_id)%>
        <%= link_to "Projects", projects_path %>
        
      </div>
    <%end%>

    <%= yield %>
  </body>
</html>
